<div class="card" style="width: 15rem;">
  <img class="card-img-top" [src]="bottle.pictureUrl" alt="bottle img">
  <div class="card-body">
    <h5 class="card-title">{{ bottle.name }}</h5>
    <p class="card-text">{{ bottle.distillery }}</p>
    <p class="card-text">
      <span *ngFor="let tag of bottle.tags" class="badge badge-pill badge-success mr-1">
        {{ tag }}
      </span>
    </p>
    <p class="card-text">
      <span *ngFor="let owner of bottle.owners" class="badge badge-pill badge-warning mr-1">
        {{ owner }}
      </span>
    </p>
    <a href="#" class="btn btn-outline-success">${{ bottle.shotPrice }}</a>
    <a [routerLink]="['../detail', bottle.id]" class="btn btn-outline-primary">Detail</a>
  </div>
</div>
