<div class="blur-background">
  <div class="confirm-container">

    <div class="card border-success">
      <div class="card-header h1 text-success">Transaction summary</div>
      <div class="card-body">
        <h5 class="card-title">{{ bottle.name }} <small>{{ bottle.distillery }}</small></h5>

        <div class="row mt-4">
          <div class="col-6">
            <div class="input-group mb-3">
              <input type="number" class="form-control" placeholder="amount" step="20" min="0" [(ngModel)]="amountMl" (ngModelChange)="onAmountMlChanged()">
              <div class="input-group-append">
                <span class="input-group-text">ml</span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="input-group mb-3">
              <input type="number" class="form-control" placeholder="amount" step="1" min="0" [(ngModel)]="shots" (ngModelChange)="onShotsChanged()">
              <div class="input-group-append">
                <span class="input-group-text shots-suffix">shot{{ sufixOfShot }}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col">
            <a class="btn btn-success mr-2" (click)="onSubmit()">Confirm</a>
            <a class="btn btn-danger" (click)="onClose()">Cancel</a>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
